# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc


# 忽略第三方库相关的 vcpkg 文件夹和文件
third_party/vcpkg/buildtrees/
third_party/vcpkg/packages/
third_party/vcpkg/downloads/
third_party/vcpkg/installed/

# 忽略 vcpkg 自身的二进制文件（如果存在）
third_party/vcpkg/vcpkg.exe
third_party/vcpkg/vcpkg

# 忽略 vcpkg 生成的临时文件和日志
third_party/vcpkg/*.log
third_party/vcpkg/*.cache
